@model IEnumerable<Kamban.Domain.Entities.Bitacora>

<p>
    <a asp-action="AgregarBitacora" asp-route-tareaId="@ViewData["tareaId"]">Agregar bitacora</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeRegistro)
                </td>
            </tr>
        }
    </tbody>
</table>
