@model Kamban.Application.Commands.Tareas.ObtenerTareaPorIdCommandResponse

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>ObtenerTareaPorIdCommandResponse</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EncodedKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EncodedKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeRegistro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDeRegistro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoEstimado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TiempoEstimado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoConsumido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TiempoConsumido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bitacora)
        </dt>
        <dd class="col-sm-10">
            @await Html.PartialAsync("_Bitacoras", Model.Bitacora.OrderByDescending(x => x.FechaDeRegistro))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subtareas)
        </dt>
        <dd class="col-sm-10">
            @await Html.PartialAsync("_Subtareas", Model.Subtareas.OrderByDescending(x => x.FechaDeRegistro))
        </dd>
    </dl>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
